<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILES</title>
    <link rel="stylesheet" href="card1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <center><h1>Interior Design That Delivers Magic In Every Moment</h1></center> 
    <div class="left1">
        <section class="screen">
            <div class="modal">
                <img src="client1.jpg" alt="">
                <div class="close"></div>
            </div>
            <div class="profiles">
                <div class="card">
                    <div class="header">
                        <div class="humburger-menu">
                            <div class="center"></div>
                        </div>
                        <a href="#" class="mail">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div class="start1">
                            <div class="image1">
                                <div class="hover">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <h3 class="name">Neha Sharma</h3>
                            <h3 class="sub-name">@N_Sharma</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="about-profile">
                                <h3 class="title">About</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    nostrum
                                </p>
                            </div>
                            <div class="icons-container">
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-whatsapp"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </div>
                            <div class="button-wrap">
                                <div class="follow-wrap">
                                    <a href="#" class="follow">Follow</a>
                                </div>
                                <div class="share-wrap">
                                    <a href="int1.html" class="share">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="spacing">
                                <h3 class="number">91</h3>
                                <h3 class="number-title">Posts</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">2.4k</h3>
                                <h3 class="number-title">Following</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">4.7k</h3>
                                <h3 class="number-title">Followers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="screen">
            <div class="modal">
                <img src="client2.jpg" alt="">
                <div class="close"></div>
            </div>
            <div class="profiles">
                <div class="card">
                    <div class="header">
                        <div class="humburger-menu">
                            <div class="center"></div>
                        </div>
                        <a href="#" class="mail">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div class="start2">
                            <div class="image2">
                                <div class="hover">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <h3 class="name">John Doe</h3>
                            <h3 class="sub-name">@J_Doe</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="about-profile">
                                <h3 class="title">About</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    nostrum
                                </p>
                            </div>
                            <div class="icons-container">
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-whatsapp"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </div>
                            <div class="button-wrap">
                                <div class="follow-wrap">
                                    <a href="#" class="follow">Follow</a>
                                </div>
                                <div class="share-wrap">
                                    <a href="int2.html" class="share">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="spacing">
                                <h3 class="number">10</h3>
                                <h3 class="number-title">Posts</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">1k</h3>
                                <h3 class="number-title">Following</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">795k</h3>
                                <h3 class="number-title">Followers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="screen">
            <div class="modal">
                <img src="client3.jpg" alt="">
                <div class="close"></div>
            </div>
            <div class="profiles">
                <div class="card">
                    <div class="header">
                        <div class="humburger-menu">
                            <div class="center"></div>
                        </div>
                        <a href="#" class="mail">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div class="start3">
                            <div class="image3">
                                <div class="hover">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <h3 class="name">John Doe</h3>
                            <h3 class="sub-name">@J_Doe</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="about-profile">
                                <h3 class="title">About</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    nostrum
                                </p>
                            </div>
                            <div class="icons-container">
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-whatsapp"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </div>
                            <div class="button-wrap">
                                <div class="follow-wrap">
                                    <a href="#" class="follow">Follow</a>
                                </div>
                                <div class="share-wrap">
                                    <a href="int3.html" class="share">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="spacing">
                                <h3 class="number">45</h3>
                                <h3 class="number-title">Posts</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">8.2k</h3>
                                <h3 class="number-title">Following</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">457</h3>
                                <h3 class="number-title">Followers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="right1">
        <section class="screen">
            <div class="modal">
                <img src="client4.jpg" alt="">
                <div class="close"></div>
            </div>
            <div class="profiles">
                <div class="card">
                    <div class="header">
                        <div class="humburger-menu">
                            <div class="center"></div>
                        </div>
                        <a href="#" class="mail">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div class="start4">
                            <div class="image4">
                                <div class="hover">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <h3 class="name">John Doe</h3>
                            <h3 class="sub-name">@J_Doe</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="about-profile">
                                <h3 class="title">About</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    nostrum
                                </p>
                            </div>
                            <div class="icons-container">
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-whatsapp"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </div>
                            <div class="button-wrap">
                                <div class="follow-wrap">
                                    <a href="#" class="follow">Follow</a>
                                </div>
                                <div class="share-wrap">
                                    <a href="int4.html" class="share">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="spacing">
                                <h3 class="number">91</h3>
                                <h3 class="number-title">Posts</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">2.4k</h3>
                                <h3 class="number-title">Following</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">4.7k</h3>
                                <h3 class="number-title">Followers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="screen">
            <div class="modal">
                <img src="client5.jpg" alt="">
                <div class="close"></div>
            </div>
            <div class="profiles">
                <div class="card">
                    <div class="header">
                        <div class="humburger-menu">
                            <div class="center"></div>
                        </div>
                        <a href="#" class="mail">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div class="start5">
                            <div class="image5">
                                <div class="hover">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <h3 class="name">John Doe</h3>
                            <h3 class="sub-name">@J_Doe</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="about-profile">
                                <h3 class="title">About</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    nostrum
                                </p>
                            </div>
                            <div class="icons-container">
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-whatsapp"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </div>
                            <div class="button-wrap">
                                <div class="follow-wrap">
                                    <a href="#" class="follow">Follow</a>
                                </div>
                                <div class="share-wrap">
                                    <a href="int5.html" class="share">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="spacing">
                                <h3 class="number">91</h3>
                                <h3 class="number-title">Posts</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">2.4k</h3>
                                <h3 class="number-title">Following</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">4.7k</h3>
                                <h3 class="number-title">Followers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="screen">
            <div class="modal">
                <img src="client6.jpg" alt="">
                <div class="close"></div>
            </div>
            <div class="profiles">
                <div class="card">
                    <div class="header">
                        <div class="humburger-menu">
                            <div class="center"></div>
                        </div>
                        <a href="#" class="mail">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <div class="start6">
                            <div class="image6">
                                <div class="hover">
                                    <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <h3 class="name">John Doe</h3>
                            <h3 class="sub-name">@J_Doe</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div class="left">
                            <div class="about-profile">
                                <h3 class="title">About</h3>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    nostrum
                                </p>
                            </div>
                            <div class="icons-container">
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-whatsapp"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa-brands fa-square-twitter"></i>
                                </a>
                            </div>
                            <div class="button-wrap">
                                <div class="follow-wrap">
                                    <a href="#" class="follow">Follow</a>
                                </div>
                                <div class="share-wrap">
                                    <a href="int6.html" class="share">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="spacing">
                                <h3 class="number">91</h3>
                                <h3 class="number-title">Posts</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">2.4k</h3>
                                <h3 class="number-title">Following</h3>
                            </div>
                            <div class="spacing">
                                <h3 class="number">4.7k</h3>
                                <h3 class="number-title">Followers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="card.js"></script>
</body>

</html>