<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILES</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather&family=Roboto+Slab:wght@300&display=swap"
        rel="stylesheet"> -->
    <!-- <link rel="stylesheet"
         href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>

<body>
    <section class="screen">
        <div class="profiles">
            <div class="card">
                <div class="header">
                    <div class="humburger-menu">
                        <div class="center"></div>
                    </div>
                    <a href="#" class="mail">
                        <i class="fa-solid fa-envelope "></i>
                    </a>
                    <div class="start">
                        <div class="image">
                            <div class="hover">
                                <i class="fa-regular fa-camera"></i>
                            </div>
                        </div>
                        <h3 class="name">John Doe</h3>
                        <h3 class="sun-name">@J_Doe</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <div class="about-profile"></div>
                        <h3 class="title">About</h3>
                        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque assumenda, aliquid quo temporibus ducimus id.</p>
                    </div>
                    <div class="icons-container">
                        <a href="#" class="icon">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-brands fa-square-whatsapp"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-brands fa-square-twitter"></i>
                        </a>
                    </div>
                    <div class="button-wrap">
                        <div class="follo-wrap">
                            <a href="#" class="follow">Follow</a>
                        </div>
                        <div class="share-wrap">
                            <a href="#" class="share">Share</a>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <h3 class="number">91</h3>
                            <h3 class="number-title">Posts</h3>
                        </div>
                        <div>
                            <h3 class="number">2.4k</h3>
                            <h3 class="number-title">Following</h3>
                        </div>
                        <div>
                            <h3 class="number">4.7k</h3>
                            <h3 class="number-title">Followers</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>