<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report2</title>
    <style>
        table{
            border: 2px solid black;
        }
    </style>
</head>
<body>
   
    <h1>Report of sign up form</h1>
    <table border="15">
        {%if dosign %}
        <thead>
            <th>Username</th>
            <th>email</th>
            <th>Password</th>
            <th>cnf password</th>
        </thead>
        {% for l in dosign %}
        <tr>
            <td>{{l.username}} </td>
            <td>{{l.email}} </td>
            <td>{{l.password}} </td>
            <td>{{l.cnfpass}} </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
   
</body>
</html>